<!-- show the error component only if there is an error. The component should show the error message-->
<!-- On the component, have a button they can click to dismiss the error -->
<div *ngIf="hasError$ | async">
  <app-error-display [message]="errorMessage$ | async"></app-error-display>
</div>
<header class="page-header container-fluid jumbotron">
  <h1>Pepper is the best cat</h1>
  <h2>Pepperrrrrrrr</h2>
  <pre>
    -=[ Christmas tree ]=-  11/97

    *             ,
                _/^\_
               <     >
*                 /.-.\         *
       *        `/&\`                   *
               ,@.*;@,
              /_o.I %_\    *
 *           (`'--:o(_@;
            /`;--.,__ `')             *
           ;@`o % O,*`'`&\
     *    (`'--)_@ ;o %'()\      *
          /`;--._`''--._O'@;
         /&*,()~o`;-.,_ `""`)
*        /`,@ ;+& () o*`;-';\
        (`""--.,_0 +% @' &()\
        /-.,_    ``''--....-'`)  *
   *    /@%;o`:;'--,.__   __.'\
       ;*,&(); @ % &^;~`"`o;@();         *
       /(); o^~; & ().o@*&`;&%O\
 jgs   `"="==""==,,,.,="=="==="`
    __.----.(\-''#####---...___...-----._
  '`         \)_`"""""`
          .--' ')
        o(  )_-\
          `"""` `

------------------------------------------------
Thank you for visiting https://asciiart.website/
This ASCII pic can be found at
https://asciiart.website/index.php?art=holiday/christmas/trees

  </pre>
</header>
<main class="container">
  <app-nav></app-nav>
  <router-outlet></router-outlet>
</main>
